/* Large device up to 1280px*/
@media screen and (max-width: 1280px) {
  .container {
    width: 92%;
  }
  .btn {
    font-size: 18px;
    padding: 15px 20px;
  }
  .hero-container h1 {
    font-size: 40px;
  }
  .hero-container p {
    width: 80%;
  }
  .development {
    width: 80%;
  }
  .inspiration-video {
    width: 85%;
  }
  .inspiration-video iframe {
    height: 450px;
  }
  .card-container {
    gap: 65px;
  }
  .footer-container h2 {
    font-size: 20px;
  }
}

/* Medium device up to 1024px*/
@media screen and (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
  .nav-container {
    padding: 20px 20px;
  }
  .btn {
    font-size: 17px;
    padding: 13px 18px;
  }
  .hero {
    padding: 30px 20px;
  }
  .hero-container h1 {
    font-size: 30px;
  }
  .hero-container p {
    width: 95%;
  }
  .development-content-container {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  .development-content {
    width: 100%;
  }
  .development-image {
    width: 40%;
  }
  .inspiration-content p {
    font-size: 14px;
  }
  .inspiration-video {
    width: 90%;
    padding: 20px;
  }
  .inspiration-video iframe {
    height: 380px;
  }
  .target-container p {
    padding: 0 10%;
  }
  .card-container {
    gap: 5%;
  }
  .footer-container {
    padding: 20px 20px;
  }
  .footer-container h2 {
    font-size: 17px;
  }
  .footer-container a {
    margin-left: 8px;
  }
}

/* Small device up to 640px*/
@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
  .btn {
    font-size: 14px;
    padding: 12px 16px;
  }
  .title {
    font-size: 22px;
  }
  .description {
    font-size: 14px;
  }
  .nav-container {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5px;
  }
  .nav-container h1 {
    font-size: 38px;
  }

  .card-container {
    flex-direction: column;
    margin: auto 15px;
  }
  .hero {
    padding: 30px 10px;
  }
  .hero-container h1 {
    font-size: 22px;
  }
  .hero-container p {
    font-size: 14px;
  }
  .development {
    width: 90%;
  }
  .development-content-container {
    padding: 30px 15px;
  }
  .development-image {
    width: 70%;
    padding: 10px;
  }
  .development-content h2 {
    font-size: 22px;
  }
  .development-content p {
    padding: 0 10px;
    font-size: 14px;
  }
  .inspiration-video {
    width: 100%;
    padding: 10px;
  }
  .inspiration-video iframe {
    height: 280px;
  }
  .inspiration-content {
    padding: 0 2%;
    margin-bottom: 35px;
  }
  .target-container p {
    padding: 0 2%;
  }
  .footer-container {
    flex-direction: column;
    padding: 15px 10px;
    gap: 20px;
    text-align: center;
  }
}
